* {
  box-sizing: border-box;
}

body {
  background-image: url(/src/images/plane-7432680_1920.jpg);

  width: 100%;
  margin: 0;
  color: #ffffff;
  font: 400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  text-align: center;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;

}

.search-content {
  display: flex;
  margin-bottom: -4em;
  display: flex;
  flex-direction: row;
}

.departure,
.destination,
.direct-flight {

  width: 20%;
  margin: 1em 1em;
}

.direct-flight {
  margin: 6.3em -5em;

}

.flight-item {
  width: 60%;
  height: 180px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  background: #ECEFF1;
  box-shadow: 10px 10px rgb(0 0 0 / 20%);

  border-radius: 50px;
  color: black;
}



p {
  /* margin-left: 50px; */
}