* {
  box-sizing: border-box;
}

body {
  background-image: url(/src/images/balloons-1046658_1920.jpg);
  width: 100%;
  margin: 0;
  color: #ffffff;
  font: 400 .9em/1.9 'Calibri', Helvetica, Arial, sans-serif;
  text-align: center;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;

}

.select {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 15px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

.search-content {
  display: flex;
  margin-bottom: -4em;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
}

.departure,
.destination,
.direct-flight {

  width: 20%;
  margin: 1em 1em;
}

.direct-flight {
  margin: 6.3em -5em;

}

.flight-item {

  width: 60%;
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  background: #ECEFF1;
  box-shadow: 10px 10px rgb(0 0 0 / 20%);

  border-radius: 50px;
  color: black;
}



p {
  color: #1c87c9;
  font-size: 15px;
}