* {
  box-sizing: border-box;
}

body {
  background-image: url(/src/images/balloons-1046658_1920.jpg);
  width: 100%;
  margin: 0;
  color: #ffffff;
  font: 400 0.9em/1.9 "Calibri", Helvetica, Arial, sans-serif;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.select {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 15px;
  color: #1c87c9;
  /* background-color: #eee; */
  border-radius: 5px;
  /* box-shadow: 4px 4px #ccc; */
}

.search-content {
  display: flex;
  flex-direction: row;
  background-color: #999;
  align-items: center;
  margin: 0;
  margin-left: 5rem;
  border-radius: 5px;
}

.departure,
.destination,
.direct-flight {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin: 1em 1em;
}

.direct-flight {
  margin: 10px;
}

/* .flight-item {
  width: 60%;
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  background: #eceff1;
  box-shadow: 10px 10px rgb(0 0 0 / 20%);

  border-radius: 50px;
  color: black;
} */

p {
  margin: 0;
  padding: 0;
  color: #1c87c9;
  font-size: 15px;
}

.flight-board {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flight-board .flight-item {
  margin: 10px;
  max-width: 15rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.flight-item p {
  font-style: italic;
  color: #999;
}

.flight-title {
  color: red;
  font-style: italic;
}

.top-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.top-header h1 {
  margin: 0;
  /* margin-left: 5rem; */
  padding: 0;
}

.footer {
  height: 10vh;
  margin-top: 20px;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}
